asgiref==3.8.1
certifi==2025.4.26
cloudinary==1.44.0
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
psycopg2==2.9.10
PyJWT==2.9.0
six==1.17.0
sqlparse==0.5.3
urllib3==2.4.0
django>=5.0,<5.1
djangorestframework
django-cors-headers
cloudinary
django-cloudinary-storage
python-dotenv
dj-database-url
psycopg2-binary
gunicorn
